*.DS_Store
*.pyc
*.swp
dist/*
build/*
keras/datasets/data/*
keras/datasets/temp/*
tags
fawkes.egg-info
*.h5
*.tflite
.ipynb_checkpoints
*_cloaked*
*_debug*

# test-related
.coverage
.cache
.pytest_cache
fawkes_dev/api_key.txt
fawkes_dev/protect_personId.txt
*_debug.jpeg
# developer environments
.idea
.vscode